@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Merriweather:wght@300&display=swap");
:root {
  --blue: #000;
  --white: rgb(236, 236, 236);
  --grey: #fff;
  --dark: #242526;
}
body {
  font-family: sans-serif;
  height: 100vh;
  color: #fff;
  background: var(--background-color);
  color: var(--text-color);
  transition: background 0.3s ease-in-out, color 0.6s ease-in-out;
}
body.light {
  --background-color: var(--white);
  --text-color: var(--blue);
  --font-weight: 400;
  --div: var(--grey);
}

body.dark {
  --background-color: var(--blue);
  --text-color: var(--white);
  --font-weight: 500;
  --div: var(--dark);
}
.projects_section::-webkit-scrollbar {
  width: 10px;
}

.projects_section::-webkit-scrollbar-thumb {
  background: #333;
}

.projects_section::-webkit-scrollbar-track {
  background: #333;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #333;
}

::-webkit-scrollbar-track {
  background: #000;
}
#darkMode {
  position: fixed;
  top: 5px;
  right: 5px;
  z-index: 1;
}
.icon_small {
  width: 25px;
  height: 25px;
}

.icon_large {
  width: 40px;
  height: 40px;
}

.icon_tiny {
  width: 15px;
  height: 15px;
}

.social_icons {
  margin: 25px 0;
}

.social_icons :first-child {
  margin-right: 10px;
}

.social_icon {
  cursor: pointer;
}

.social_icon:hover {
  transform: scale(1.1);
  transition: linear;
  transition-duration: 0.3s;
}

.custom_row {
  height: 90vh;
  padding-top: 20px;
}

/* sidebar */
.sideBar_custom {
  background-color: var(--div);
  text-align: center;
  border-radius: 20px;
  height: 100%;
  padding: 25px 15px;
  box-shadow: 0 0 10px black;
}

.name {
  margin: 20px 0;
  font-family: "Kaushan Script", cursive;
}

.name span {
  color: #00f260;
}

.bg-gray {
  color: #00f260;
}

.side_item {
  border-radius: 35px;
  height: 40px;
  font-size: 18px;
  padding-top: 6px;
  margin-bottom: 8px;
}

.contact {
  padding: 2px 0;
  margin: 0 -15px;
  color: #00f260;
}

.contact .side_item {
  margin-bottom: 1px;
  font-size: 15px;
}

.cv:hover,
.github:hover {
  cursor: pointer;
  background-color: #000;
  color: #00f260;
}

.email {
  background-image: linear-gradient(to right bottom, #000, #242526);
  border-radius: 30px;
  color: #00f260;
  margin: 15px 25px 0;
  cursor: pointer;
}

.email:hover {
  background-image: linear-gradient(to right bottom, #242526, #000);
  transition: 1s linear;
}

.nav_heading {
  font-size: 32px;
  font-weight: 700;
  color: var(--text-color);
  border-bottom: 4px solid #00f260;
}

.mainarea_custom {
  background-color: var(--div);
  border-radius: 20px;
  padding-top: 20px;
  box-shadow: 0 0 10px black;
}

/* #6E7E91 */
.content_section {
  padding: 20px 0;
}

.description {
  margin-bottom: 20px;
  padding: 20px;
}

.data_section {
  background-color: var(--div);
  padding-top: 20px;
  margin: 0 -15px;
}

.sub_heading {
  margin-left: 10px;
  font-size: 25px;
  font-weight: 700;
  color: var(--text-color);
}

.card_section {
  display: flex;
}

.card_custom {
  background-color: var(--div);
  margin: 10px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-radius: 10px;
}

.card_body {
  margin-left: 15px;
}

.card_content {
  color: #6e7e91;
  font-size: 15px;
}

/* navbar */
.navbar {
  display: flex;
}

.navItems {
  display: flex;
}

.navItem {
  margin-right: 20px;
  text-decoration: none;
  color: var(--text-color);
  font-size: 20px;
  padding: 4px 8px;
  border-radius: 10px;
}

.navItem:hover {
  text-decoration: none;
  background-color: var(--text-color);
  color: var(--div);
}

a {
  color: #354358;
}

a:hover {
  text-decoration: none;
}

.image_custom {
  height: 110px;
  width: 110px;
}

/* resume */
.resume_section {
  padding-top: 20px;
}

.resume_card_body {
  margin-top: 15px;
}

.resume_card_title h5 {
  font-weight: 700;
}

.resume_card_description {
  font-size: 13px;
  padding-top: 20px;
}

.skill_div {
  height: 40vh;
  padding-bottom: 20px;
  overflow: auto;
}

.skill_wrapper {
  width: 90%;
  background-color: #f1f2f3;
  border-radius: 20px;
}

.skill_beg {
  width: 45%;
}

.skill_avg {
  width: 65%;
}

.skill_verygood {
  width: 80%;
}

.skill_exp {
  width: 95%;
}

.skill {
  background-image: linear-gradient(to right, #00f260, #0575e6);
  border-radius: 20px;
  color: var(--text-color);
  padding: 4px 14px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 8px;
}

/* project section */
.projects_section {
  height: 70vh;
  padding-top: 30px;
  overflow-y: auto;
}

.projects_section_header {
  margin-bottom: 20px;
}

.project_header_child {
  margin-right: 15px;
  border-radius: 10px;
}

.project_header_child:hover {
  cursor: pointer;
  color: #00f260;
}

/* .project_card {
    height: 300px;
} */
.project_card {
  text-align: center;
  margin-bottom: 20px;
}

.project_name {
  font-size: 17px;
}

/* .project_image {
    width: 250px;
    height: 170px;
    border-radius: 20px;
    margin-bottom: 10px;
} */

@media screen and (max-width: 991px) {
  .mainarea_custom {
    margin: 30px 0;
  }
}

/* 
@media (min-width:992px) and (max-width:1295px) {
    .project_image {
        width: 200px;
        height: 160px;
    }
}

@media (max-width:767px) {
    .project_image {
        width: 360px;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .project_image {
        width: 270px;
    }
} */

.project_wrapper {
  height: 100%;
  width: 100%;
  min-height: 140px;
  /* background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
  text-align: center;
}
button {
  outline: none;
  border: none;
  border-radius: 30px;
  background-color: var(--background-color);
}
button:focus {
  outline: none;
}
.project_image {
  border-radius: 20px;
  border: 1px solid #00f260;
  width: 100%;
  height: 80%;
}

.project_image:hover {
  transform: scale(1.02);
  transition: 0.2s linear;
}
